/* Media Queries Mixin
**********************/
/*--------------------------------*\
|   $COLORS
\*---------------------------------*\
/*
* Branding Colors
*/
/*--------------------------------*\
|   $MIXINS
\*---------------------------------*\
*/
h1 {
  font-size: 14px;
  margin: 0;
}

h2 {
  font-size: 12px;
  margin: 0;
}

h3 {
  font-size: 20px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 2% 4%;
  font-family: "Lato", sans-serif;
  color: #000000;
}

.header {
  margin: 15px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
@media screen and (max-width: 768px) {
  .header {
    margin: 15px 0;
    grid-template-columns: none;
    grid-template-areas: "title title" "descrip telphone";
    width: 100%;
  }
}
.header__left {
  display: flex;
}
@media screen and (max-width: 768px) {
  .header__left {
    grid-area: descrip;
    justify-content: center;
  }
}
.header__left--logo img {
  width: 50px;
  margin: 5px;
  cursor: pointer;
}
.header__left--info {
  margin: 5px;
  margin-top: 10px;
  height: -webkit-min-content;
  height: min-content;
  font-size: 10px;
}
.header__left--info h2 {
  text-transform: uppercase;
  font-size: 16px;
}
.header__left--info p {
  margin: 0;
  font-weight: bold;
}
.header__center {
  margin: 5px auto;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 80%;
  height: -webkit-min-content;
  height: min-content;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .header__center {
    grid-area: title title;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
.header__center h1 {
  margin: 8px;
  text-transform: uppercase;
  cursor: pointer;
  word-spacing: 10px;
  letter-spacing: 1.8px;
  font-size: 18px;
}
.header__center p {
  margin: 8px;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.5);
}
.header__rigth {
  margin: 5px;
  margin-top: 0;
  margin-bottom: 10px;
  width: 50%;
  height: -webkit-min-content;
  height: min-content;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  justify-self: right;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .header__rigth {
    grid-area: telphone;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .header__left {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .header__rigth {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}
.header__rigth--thelepone {
  display: flex;
}
.header__rigth h4 {
  margin: 2px;
  padding-right: 5px;
  border-right: 0.9px solid black;
  align-self: center;
}
.header__rigth h5 {
  margin: 2px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}
.header__rigth p {
  margin: 2px;
  font-size: 10px;
  width: -webkit-min-content;
  width: min-content;
}
.header__rigth--logo2 img {
  width: 70px;
  align-self: baseline;
}

.subtitles {
  margin: 5px;
  padding: 5px;
  border-top: 1.2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1.2px solid rgba(0, 0, 0, 0.4);
}
.subtitles ul {
  display: grid;
  grid-template-columns: 0.4fr repeat(5, 1fr) 0.4fr;
  justify-content: space-around;
  gap: 5px;
  margin: 0;
  padding: 10px;
  background-color: rgba(248, 182, 216, 0.6);
}
.subtitles ul p {
  margin: 0;
  height: -webkit-max-content;
  height: max-content;
  border-right: 1.2px solid rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 510;
  word-spacing: 2px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .subtitles ul p {
    font-size: 14px;
  }
}

.categories {
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.categories__menu img {
  width: 25px;
  cursor: pointer;
}
.categories__titles {
  font-size: 14px;
  width: 90%;
}
.categories__titles ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .categories__titles ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
.categories__titles ul p {
  font-weight: bold;
  cursor: pointer;
}
.categories__titles ul p:hover {
  text-decoration: underline;
}
.categories__search img {
  width: 30px;
  cursor: pointer;
}

.container {
  width: 98%;
  height: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.4fr;
  -ms-grid-gap: 25px;
  gap: 25px;
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: none;
    grid-template-rows: none;
    grid-template-areas: "cover" "biography" "ads";
  }
}
.container__biography {
  display: grid;
  grid-template-rows: 0.3fr 0.3fr 0.1fr;
  height: 80%;
}
@media screen and (max-width: 768px) {
  .container__biography {
    grid-template-rows: none;
    grid-area: biography;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr) 0.2fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
.container__coverPage {
  padding: 10px;
  height: 70%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 0.3fr 0.3fr 0.2fr;
}
@media screen and (max-width: 768px) {
  .container__coverPage {
    height: auto;
    grid-area: cover;
    grid-template-rows: none;
    justify-content: center;
  }
}
.container__ads {
  height: 80%;
  display: grid;
  grid-template-rows: 0.2fr repeat(3, 0.1fr) 4fr;
}
@media screen and (max-width: 768px) {
  .container__ads {
    height: auto;
    grid-area: ads;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .container__biography {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .container__coverPage {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .container__ads {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}
.container__ads img {
  width: 100%;
}

.biography__video {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  margin: 0;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 768px) {
  .biography__video {
    grid-area: video;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: center;
  }
}
.biography__video--desciption h2 {
  margin: 5px auto;
  text-align: left;
  font-size: 20px;
  font-weight: 900;
}
.biography__video--desciption p {
  font-size: 17px;
  padding-right: 10px;
  color: rgba(0, 0, 0, 0.7);
}
.biography__video--desciption a {
  color: #000000;
  text-decoration: none;
}
.biography__video--desciption a p {
  margin: 0;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.biography__read {
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .biography__read {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
}
.biography__read--title {
  display: flex;
  height: 30%;
}
.biography__read--description {
  margin: 5px;
  padding: 2px;
}
.biography__read--description h1 {
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .biography__read--description h1 {
    font-size: 14px;
  }
}
.biography__read--description p {
  margin: 8px;
  color: rgba(0, 0, 0, 0.7);
}
@media screen and (max-width: 768px) {
  .biography__read--description p {
    font-size: 12px;
  }
}
.biography__read--text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
}
.biography__read--text a {
  color: #000000;
  text-decoration: none;
}
.biography__read--text a p {
  margin: 0;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.biography__book {
  text-align: right;
}
.biography__book img {
  width: 90%;
  height: 60%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .biography__book img {
    width: 70%;
    height: 15%;
    grid-column: 3/4;
    grid-row: 2/3;
  }
}

.coverPage__image img {
  width: 100%;
}

.coverPage__text--category {
  display: flex;
}
.coverPage__text--category p {
  width: 90%;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 900;
}
.coverPage__text--category img {
  cursor: pointer;
}
.coverPage__text--text h1 {
  width: 100%;
  font-size: 30px;
  font-weight: 900;
}
.coverPage__text--text p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.coverPage__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.coverPage__footer img {
  width: 80px;
  cursor: pointer;
}
.coverPage__footer--title {
  width: 100%;
  margin-left: 10px;
}
.coverPage__footer--title h2 {
  font-size: 22px;
  font-weight: 900;
}
.coverPage__footer--title p {
  text-align: left;
  margin: 0;
  color: rgba(0, 0, 0, 0.5);
}