footer.footer--principal
	.logo.logo--footer: img(src="")
	span
		h6 Designed by Brahianf H
	//- nav.nav--footer: ul
	//- 	li Siguenos
	//- 	li: a(href="#"): i.fab.fa-instagram
	//- 	li: a(href="#"): i.fab.fa-pinterest
	//- 	li: a(href="#"): i.fab.fa-twitter
	//- 	li: a(href="#"): i.fab.fa-facebook-f