<!DOCTYPE html>
html(lang="en")

    include head.pug
    body
        //- include mixins.pug
        //- include header.pug
        //- include section.pug
        block container
        //- include components/footer.pug