
.ads__images{
    display: flex;
    margin: 20px 0;
    & img{
        width: 50%;
    }
    & h1 {
        text-transform: initial;
        margin: 0 10px;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }
}

.ads__subscribe{
    display: flex;
    flex-direction: column;

    @include media(tablet){
        margin: 30px;
    }
    
    & h1 {
        font-size: 18px;
        font-weight: bold;
    }

    & p {
        color: get-opacity($color-primario, .60);
        margin: 10px 0;
        font-size: 14px;
    }

    & input {
        margin: 10px 0;
        padding: 10px;
        border: none;
        border-top: 1px solid get-opacity($color-primario, .20);
        border-bottom: 1px solid get-opacity($color-primario, .20);
    }

    & button {
        margin-top: 10px;
        padding: 20px;
        color: white;
        background-color: $color-primario;;
        border: none;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 7px 7px rgb(73, 72, 72);
        }
    }
}



