
<div class="subtitles">
  <ul>
    <p>d Luke 7.2</p>
    <p>Planet of te Aples 9.1</p>
    <p>The Godfather 9.6</p>
    <p>It's a Wonderful time 7.5</p>
    <p>The Third Man 6.9</p>
    <p>Dr. Strangelove 8.9</p>
    <p>Cool Han</p>
  </ul>
</div>
<div class="categories">
  <div class="categories__menu"><img src="https://i.imgur.com/Na5dKkt.jpg"/></div>
  <div class="categories__titles">
    <ul>
      <p>latest</p>
      <p>featured</p>
      <p>automobiles</p>
      <p>celebreties</p>
      <p>hollywood directory</p>
      <p>trending movies</p>
      <p>book tickets</p>
      <p>fans</p>
      <p>books</p>
    </ul>
  </div>
  <div class="categories__search"><img src="https://i.imgur.com/rZBjxtb.jpg"/></div>
</div>